@using ProgramStudio.DeployCheckToolkits.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.About;
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    关于部署包检查工具
                </h2>
            </div>
            <div class="body">
                <h3>项目背景</h3>
                <p>
                    前端配置文件ft1、ft2、pd环境，打包时域名没有及时调整为相应环境，包里还包含其他环境的域名，希望可以检查包是否包含其他环境的域名，如果有则重新排查和修复。包括link、用户名、密码、token、参数配置等等，不同环境所对应的不同数据都需要排查，无法单独拿配置文件去做检查，希望检查最终的部署包。
                </p>
                <h3>功能概述</h3>
                <p>
                    初步设计网页版检查工具，包含登录、检查、历史记录、设置等页面，用户可在登录认证通过后，上传部署包文件，进行检查操作，同时可查看历史检测记录和设置需要检查的信息。
                </p>
            </div>
        </div>
    </div>
</div>
